body {
    background-color: black;
    
}

a {
    color: white;
    display: block;
    margin-left: 10px;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

a:hover {
    margin-left: 35px;
    text-decoration: underline;
}
h1 {
color: white;
justify-content: center;
justify-self: center;
}

.p {
    color: white;
}
