body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

a {
    color: white;
    display: block;
    margin-left: 10px;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    margin-left: 35px;
    text-decoration: underline;
}